<div class="container custom-container" *ngIf="!isLoading">
  <div class="col-md-12">
    
    <h3 *ngIf="isAdding" class="mb-3 text-center">Add Book</h3>
    <h3 *ngIf="!isAdding" class="mb-3 text-center">Edit Book</h3>

    <div class="form-group">
      <input type="text" [(ngModel)]="book.title" class="form-control" placeholder="Title"/>
    </div>

    <div class="form-group">
      <textarea type="text" [(ngModel)]="book.description" class="form-control" placeholder="Description"></textarea>
    </div>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="book.genre">
        <option *ngFor="let genre of genres" [ngValue]="genre.value">
          {{ genre.value }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <select class="form-control" [(ngModel)]="book.authorId">
        <option *ngFor="let author of authors" [ngValue]="author.id">
          {{ author.value }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <button *ngIf="isAdding" class="btn btn-success btn-lg btn-block" (click)="create()">Add</button>
      <button *ngIf="!isAdding" class="btn btn-success btn-lg btn-block" (click)="update()">Edit</button>
      <button class="btn btn-primary btn-lg btn-block" (click)="cancel()">Cancel</button>
    </div>
    
  </div>
</div>
